.form {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__cta,
  &__input {
    padding: 0.5rem;
    font-size: $fontLg;
    border: none;
  }

  &__input,
  &__filter {
    height: 49px;
  }

  &__input {
    width: 500px;
    font-size: $fontMd;
    &:focus {
      outline: none;
    }
  }

  &__cta {
    padding: 0;
    border: 0;
    color: $fontLight;
    background-color: $buttonLight;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    .fa-plus-square {
      padding: 0.5rem;
      font-size: 2rem;
      color: $fontDark;
    }

    &:hover {
      background-color: $borderLight;
      transform: scale(1.1);
    }
  }

  &__select {
    margin-left: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: '\25BC';
      padding: 0.25rem 0.5rem;
      top: 0;
      right: 0;
      position: absolute;
      color: $fontDark;
      font-size: 2rem;
      background-color: $buttonLight;
      cursor: pointer;
      pointer-events: none;
    }

    select {
      border: 0;
      color: $fontLight;
      cursor: pointer;
      width: 12rem;
    }
  }

  &__filter {
    font-size: $fontMd;
  }
}
