.listitem {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $fontLight;
  background-color: $blockLight;
  font-size: $fontSm;
  border: 1px solid $borderLight;
  transition: all 200ms ease-in-out;

  &--completed {
    border: 1px solid $blockLight;
  }

  &__li {
    padding: 0 0.5rem;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  &__cta {
    height: 100%;
    font-size: 1.5rem;
    color: $fontLight;
    border: none;
    background-color: $buttonLight;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &.complete {
      background: $buttonDark;
    }

    &.trash {
      background-color: $borderDark;
    }

    &.complete,
    &.trash {
      &:hover {
        transform: scale(1.1);
      }
    }

    .fa-check,
    .fa-trash {
      pointer-events: none;
      color: $fontDark;
    }
  }
}
