// Font Size
$fontSm: 0.8125rem;
$fontMd: 1rem;
$fontLg: 1.25rem;

// Light mode
$mainLight: hsl(60, 8%, 95%);
$secondaryLight: hsl(0, 0%, 91%);
$blockLight: hsl(224, 13%, 76%);
$fontHeadinglight: hsl(218, 15%, 35%);
$fontLight: hsl(217, 10%, 25%);
$buttonLight: hsl(43, 95%, 71%);
$borderLight: hsl(35, 94%, 67%);

// Dark mode
$mainDark: hsl(0, 0%, 33%);
$secondaryDark: hsl(0, 0%, 26%);
$blockDark: hsl(0, 0%, 20%);
$fontHeadingDark: hsl(1, 79%, 65%);
$fontDark: hsl(0, 0%, 97%);
$buttonDark: hsl(182, 27%, 44%);
$borderDark: hsl(3, 89%, 64%);
